<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OffGrid.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>671863D22C7ECE7E0092A308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671863E22C7ECE7F0092A308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671863EC2C7ECE7F0092A308</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
